<% include ./partials/header %>

  <div class="container text-center">
    <h1 class="text-center mt-3">Forgot password</h1>
    <div class="row justify-content-center">
      <div class="col-xs-8 col-sm-6 col-md-6 col-lg-4">
        <div class="w-100 mx-auto my-3">
          <form action="/forgot" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email" name="email" required>
            </div>
            <button class="btn btn-lg btn-success btn-default btn-block">Send verification</button>
          </form>
        </div>
      </div>
    </div>
    <p><a href="/login">Login</a> or <a href="/register">create an account</a></p>
  </div>

<% include ./partials/footer %>